<!DOCTYPE html>
<html>
<head>
  <title>Cavity Detection</title>
</head>
<body>
  <h2>Upload Dental X-ray</h2>
  <input type="file" id="fileInput">
  <h3>Result:</h3>
  <img id="resultImg" style="max-width:600px; border:1px solid #ccc;">
  <pre id="jsonOutput"></pre>











  
  <script>
  document.getElementById("fileInput").addEventListener("change", async (e) => {
    const file = e.target.files[0];
    const formData = new FormData();
    formData.append("image", file);

    const response = await fetch("/predict", {
      method: "POST",
      body: formData
    });

    const result = await response.json();

    // Show annotated image
    document.getElementById("resultImg").src = "data:image/jpeg;base64," + result.annotated_image;

    // Show JSON detections
    document.getElementById("jsonOutput").textContent = JSON.stringify(result.detections, null, 2);
  });
  </script>
</body>
</html>
